<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file??
  </p>
  <form>
    <input type="text" name="User Name" value="">
    <input type="text" name="Password" value="">
  </form>
  <button class="btn btn-default" type="button" onclick="toggleSignIn()">

  <form action="/action_page.php" target="_blank">
    First name:<br>
    <input type="text" name="firstname" value="">
    <br>
    Last name:<br>
    <input type="text" name="lastname" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form> 
  
  <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>
  
  <h2>Radio Buttons</h2>

  <form>
    <input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other  
  </form> 
  
  <button class="btn btn-default" type="button" onclick="myFunction()">
    If you click it, you confirm that Alexis is stupid. 
  </button>

  <div id="doge-image"/>

</body>

</html>